/* For the container */
.min-full-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 726.364px;
  margin: auto;
  padding: 40px;
}

@media screen and (min-width: 1024px) {
  .min-full-flex-center {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* For the logo */
.logo-container {
  margin-bottom: 30px;
  width: 100%;
  max-width: 400px;
}

.logo-image {
  display: block;
  margin: auto;
  width: 155px;
  height: 55px;
}

.logo-text {
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.125;
  color: #2d3748;
}

/* For the form */
.form-container {
  margin-top: 10px;
  margin: auto;
  width: 100%;
  max-width: 400px;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: #2d3748;
}

.input-field {
  display: block;
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #dbdbdb;
  background: #fff;
  padding: 1.5px;
  color: #2d3748;
  box-shadow: 0 0 0 1px rgba(236, 239, 241, 1);
  placeholder-color: #a0aec0;
}

.input-field:focus {
  ring-width: 2px;
  ring-inset: inset;
  ring-color: #667eea;
}

.button {
  display: flex;
  width: 300px;
  height: 52px;
  margin: 20px 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 1.5px 3px;
  border-radius: 4px;
  border: 1px solid #35c5f0;
  background-color: #35c5f0;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.button:hover {
  background-color: #5a67d8;
}

.member-text {
  margin-top: 10px;
  text-align: center;
  font-size: 0.875rem;
  color: #a0aec0;
}

.member-link {
  font-weight: 500;
  line-height: 1.5;
  color: #667eea;
}

.member-link:hover {
  color: #5a67d8;
}

.button-container {
  width: 300px;
  height: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.reset-btn,
.signup-btn {
  border: none;
  background-color: transparent;
  width: 93px;
  color: #424242;
  text-align: center;
  white-space: nowrap;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

/* SNS계정으로 간편 로그인/회원가입 텍스트 스타일 */
.sns-text {
  margin: 35px 0 15px;
  color: #757575;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: center;
  white-space: nowrap;
}

.sns-icon {
  margin: 0 5px;
}

/* 로그인에 문제가 있으신가요? 텍스트 스타일 */
.problem-text {
  margin-top: 24px;
  color: #c2c8cc;
  font-size: 14px;
  line-height: 18px;
}

/* 비회원주문하기 텍스트 스타일 */
.nonmemberOrder-text {
  width: 143px;
  color: #424242;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.copyWrite-text {
  width: 186px;
  color: #757575;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 250% */
  letter-spacing: 0.3px;
}

.divider {
  width: 300px;
  height: 1px;
  flex-shrink: 0;
  background: #dbdbdb;
  margin: 30px 0;
}
